<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <h1 id="main_header">KickAxe Inventory System<h1>
  </head>

  <body>
    {{{body}}}
  </body>
</html>
