    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element active"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Browse</h2>

    <fieldset>
      <label>Search Weapons:</label><input id="weapon"></input><br><br>
      <label>Search Materials:</label><input id="material"></input><br><br>
      <label>First Name:</label><input id="enchant"></input><br><br>
      <label>Last Name:</label><input id="smith"></input><br><br>
    </fieldset>

    <div class='browse_buttons'>
      <button type="button">Search By Name</button>
      <a href="/home"><button type="button">Back</button></a>
    </div>
