    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Edit Profile</h2>

    <h2 id="smith_name">[Blacksmith Name Here]</h2>

    <fieldset>
      <legend>Add Training</legend>
      <label>Mentor:</label><input id="mentor"></input><br><br>
      <label>Mentee:</label><input id="mentee"></input><br><br>
      <label>Start Date of Past Training:</label><input type="date" id="training_start"></input><br><br>
      <label>End Date of Past Training:</label><input type="date" id="training_end"></input><br><br>
      <label>start Date of Current Training:</label><input type="date" id="training_present"></input><br><br>
    </fieldset>

    <fieldset>
      <legend>Add Weapon</legend>
      <label>Name:</label><input id="weapon_name"></input><br><br>
      <label>Type:</label><input id="weapon_type"></input><br><br>
      <label>Cost:</label><input id="weapon_cost"></input><br><br>
      <label>Materials:</label><input id="weapon_mats"></input><br><br>
      <label>Enchantments:</label><input id="weapon_magic"></input><br><br>
    </fieldset>

    <fieldset>
      <legend>Add Materials</legend>
      <label>Material Name:</label><input id="mat_name_a"></input><br><br>
      <label>Amount to Add:</label><input id="mat_amnt_a"></input><br><br>
    </fieldset>
    <fieldset>
      <legend>Remove Materials</legend>
      <label>Material Name:</label><input id="mat_name_r"></input><br><br>
      <label>Amount to Remove:</label><input id="mat_amnt_r"></input><br><br>
    </fieldset>

    <fieldset>
      <legend>Edit Info</legend>
      <label>Specialty:</label><input id="specialty"></input><br><br>
      <label>Location:</label><input id="location"></input><br><br>
      <label>Experience:</label><select id="experience">
       <option value="1">Apprentice</option>
       <option value="2">Journeyman</option>
       <option value="3">Master</option>
      </select><br><br>
    </fieldset>

    <div class='editprofile_buttons'>
      <button type="button">Submit</button>
      <a href="/home"><button type="button">Back</button></a>
    </div>
