    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Enchantments</h2>

    {{#each data}}
      <div class="enchantment_information">
        <h2 id="magic_name" class="enchantment_bit">{{{this.name}}}</h2>

        <div id="stats_div" class="enchantment_bit">
          <p>Type: {{{this.magicType}}}</p>
        </div>

        <div id="mats_div" class="enchantment_bit">
          <h3>Materials Needed:</h3>
          <ul id="mats_list">
            <li>{{{this.mat_name}}}</li>
          <ul>
        </div>

        <div id="weapons_div" class="enchantment_bit">
          <h3>Weapons Using This Enchantment:</h3>
          <ul id="weapons_list">
            <li>{{{this.wpn_name}}}</li>
          <ul>
        </div>
      </div>

      <br><br>
    {{/each}}

    <div class="enchantment_buttons">
      <a href="/home"><button type="button">Back</button></a>
    </div>
