    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="index.html">Page List</a></li>
      <li class="nav_element active"><a href="home.html">Home</a></li>
      <li class="nav_element"><a href="browse.html">Search</a></li>
      <li style="float:right" class="nav_element"><a href="profile.html">Profile</a></li>
    </ul>

    <h2 id="page-title">Home Page</h2>

    <p class='home_message'>Welcome to KickAxe Database, the best place for all your blacksmithing needs!</p>
    <p class='home_message'>Login, Create an Account, or Browse below</p>

    <div class='home_buttons'>
      <a href="login.html"><button type="button">Login</button></a>
      <a href="newuser.html"><button type="button">Create Account</button></a>
      <a href="browse.html"><button type="button">Browse</button></a>
    </div>
