    <ul class="naviagtion_bar">
      <li class="nav_element active"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2>Page List</h2>

    <div class="page_list">
      <p><a href = /home class='page_label'>Home Page</a></p>
      <p class='page_description'>This page shows options to Log-In, Create Account, or Browse the database.</p>

      <p><a href = login.html class='page_label'>User Login</a></p>
      <p class='page_description'>This page prompts the user for their  blacksmith username/password and has options to go back to the Home Page or Create an Account.</p>

      <p><a href = newuser.html class='page_label'>Create Account</a></p>
      <p class='page_description'> This page effectively “inserts” a blacksmith into the database by allowing them to create a blacksmith account.</p>

      <p><a href = /browse class='page_label'>Search Page</a></p>
      <p class='page_description'>If not logged in, this page gives the user options to search Weapons, Enchantments, Materials, or Blacksmiths. <br><br> If logged in, this page gives the user options to search Weapons, Enchantments, Materials, or Blacksmiths as well as giving them the option to view their own Profile.</p>

      <p><a href = /profile class='page_label'>User Profile Page</a></p>
      <p class='page_description'>This page lists weapons made (can link to specific weapon page), materials owned (can link to specific material page), location, and current/past mentors/mentees the blacksmith has had.</p>

      <p><a href = /editprofile class='page_label'>Profile Editor</a></p>
      <p class='page_description'>This page allows logged-in blacksmiths to add new mentor/mentee training relationships, add/remove weapons, add/remove owned materials, and/or change their experience level.</p>

      <p><a href = weapon.html class='page_label'>Specific Weapon Page</a></p>
      <p class='page_description'>This page shows the stats, materials (link to specific material page), and enchantments (link to specific enchantment page) of a specific weapon.</p>

      <p><a href = material.html class='page_label'>Specific Material Page</a></p>
      <p class='page_description'>This page shows the stats, and current weapons with this material (links to specific weapon page) of a specific material.</p>

      <p><a href = enchant.html class='page_label'>Specific Enchantment Page</a></p>
      <p class='page_description'>This page shows stats, experience requirement, material requirements (links to specific material page), and current weapons with this enchantment (links to specific weapon page) of a specific enchantment.</p>
    </div>
