    <ul class="naviagtion_bar">
      <li class="nav_element"><a href="/index">Page List</a></li>
      <li class="nav_element"><a href="/home">Home</a></li>
      <li class="nav_element"><a href="/browse">Search</a></li>
      <li style="float:right" class="nav_element"><a href="/profile">Profile</a></li>
    </ul>

    <h2 id="page-title">Material</h2>

    <h2 id="mat_name">Material Name Here</h2>

    <div class="material_information">
      <div id="weapons_div" class="material_bit">
        <h3>Weapons Using This Material:</h3>
        <ul id="weapons_list">
          <li>List Weapons Here</li>
        <ul>
      </div>

      <div id="magic_div" class="material_bit">
        <h3>Enchantments Using This Material:</h3>
        <ul id="magic_list">
          <li>List Enchantments Here</li>
        <ul>
      </div>

      <div id="stats_div" class="material_bit">
        <h3>Statistics:</h3>
        <p>Hardness: Hardness</p>
        <p>Cost: Cost</p>
        <p>Weight: Weight</p>
        <p>Color: Color</p>
      </div>

      <div id="exp_info" class="material_bit">
        Experience Requirement: Requirement
      </div>
    </div>

    <div class="material_buttons">
      <a href="/home"><button type="button">Back</button></a>
    </div>
