html {
  background-color: #a8aab0;
  font-family: 'Aclonica';
}

#main_header{
  background: #767676;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0px;
}

#main_header a{
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.naviagtion_bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a4a4a;
}

.nav_element{
  float: left;
}

.nav_element a{
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

.nav_element a:hover{
  background-color: #111;
}

.active {
  background-color: #ad000c;
}

h2{
  font-size: 35px;
  color: black;
  text-align: center;
}

.page_label{
  font-size: 25px;
  color: black;
}

.page_description{
  font-size: 15px;
  color: black;
  margin-bottom: 50px;
  margin-top: 2px;
}

button{
  background-color: #a498c5;
  border: 2px solid #916aff;

  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 5px;
}

button:hover{
  background-color: #916aff;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.home_message{
  font-size: 20px;
  text-align: center;
}

input{
  background-color: #a0d6f0;
  border: 2px solid #288aba;

  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 5px;
}

.login_input, .login_buttons1, .login_buttons2, .home_buttons,
.newuser_buttons, .browse_buttons, .editprofile_buttons,
.profile_buttons, .weapon_buttons, .material_buttons, .enchantment_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

fieldset{
  width:500px;
  margin: auto;
}

.profile_information, .weapon_information, .material_information, .enchantment_information, .page_list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
}

.profile_bit, .weapon_bit, .material_bit, .enchantment_bit{
  width: 400px;
}

.page_description{
  width: 60%;
  text-align: center;
}
